  @font-face {
    font-family: "Rubik";
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    font-display: swap;

    src: url(../fonts/rubik/rubik-400.woff2);
  }

  @font-face {
    font-family: "Rubik";
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    font-display: swap;

    src: url(../fonts/rubik/rubik-700.woff2);

  }

  @font-face {
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-display: swap;

    src: url(../fonts/raleway/raleway-800.woff2);
  }

  html {
    height: 100%;
  }

  body {
    display: flex;
    flex-direction: column;

    min-height: 100%;
    margin: 0;

    font-size: 18px;
    font-weight: 400;
    font-family: "Rubik", sans-serif;
    line-height: 30px;

    background-color: #ffffff;
    color: #000000;
  }

  .container {
    box-sizing: border-box;

    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
  }

  .button {
    font-size: 16px;
  }

  h2.heading {
    margin-top: 0;

    font-family: "Raleway";
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
  }

  .link-button {
    position: relative;
    padding: 10px 25px;

    font-family: "Raleway";
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;

    color: #000000;
    background-color: transparent;

    border: none;
    cursor: pointer;
  }

  .link-button::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    width: 100%;
    height: 8px;

    background-color: #ffe17f;

    z-index: -1;
  }


  .link-button:hover {
    color: #000000;
    background-color: #ffe17f;
  }

  .link-button:active {
    background-color: #ffc700;
  }

  .link-button-active:hover {
    color: #ffe17f;
    background-color: #000000;
  }

  /* header */

  .header-container {
    padding: 0 60px;

    background: linear-gradient(#ffffff 40px, #ffe17f 40px);
  }

  .header-catalog {
    padding-bottom: 20px;
  }

  /* header-logo */

  .header-logo {
    padding-top: 20px;
    margin-bottom: 30px;
  }

  .header-logo-img {
    width: 145px;
    height: 36px;
  }

  .header-logo-img:focus {
    stroke: #ff6c00;
    stroke-width: 10px;
    stroke-opacity: 0.8;
  }

  .header-logo-img:hover {
    fill-opacity: 0.6;
  }

  .header-logo-img:active {
    fill-opacity: 0.3;

  }

  /* header-body */

  .header-body {
    display: flex;
    justify-content: space-between;
  }

  /* header-left */

  .header-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 517px;
    height: 120px;
    margin-right: 28px;
  }

  /* header-right */

  .header-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 523px;
    width: 100%;
    height: 120px;
  }

  /* header-top */

  .header-top {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 40px;
  }

  /* header-bottom */

  .header-bottom {
    display: flex;
    align-items: center;

    height: 50px;
  }

  /* header-search */



  .header-form {
    display: flex;

    width: 517px;
  }

  .search-field {
    position: relative;
    flex-grow: 1;
  }

  .search-field::before {
    content: "";

    position: absolute;
    top: 0;
    bottom: 0;
    left: 16px;
    margin: auto;

    width: 16px;
    height: 16px;

    background-image: url("../images/header-icon/search-icon.svg");
    background-repeat: no-repeat;
  }

  .search-field input {
    box-sizing: border-box;

    width: 100%;
    height: 40px;

    font-size: 16px;
    line-height: 20px;
    padding-left: 48px;

    background-color: transparent;

    border: 2px solid #000000;
    border-radius: 40px 0 0 40px;
    border-right: none;
  }

  .search-field input::placeholder {
    color: #000000;
    opacity: 30%;
  }

  .search-field input::placeholder:disabled {
    opacity: 20%;
  }

  .header-search-button input {
    width: 160px;
    height: 40px;

    font-size: 16px;
    line-height: 20px;

    background-color: transparent;

    border: 2px solid #000000;
    border-radius: 0 40px 40px 0;

    cursor: pointer;
  }

  .header-search-button input:hover {
    background-color: #000000;
    color: #ffffff;
  }

  .header-search-button input:active {
    background-color: #000000;
    color: rgba(255, 255, 255, 0.3)
  }

  .header-user-menu {
    margin-right: auto;
  }

  .header-compare {
    margin-right: 18px;
  }

  .header-compare svg {
    margin-right: 12px;
    width: 10px;
    height: 12px;
  }

  .header-user-menu svg {
    margin-right: 12px;
    width: 13px;
    height: 12px;
  }

  .header-user-menu .header-control-link {
    white-space: nowrap;
  }


  .header-control-link {
    display: flex;
    align-items: center;

    text-decoration: none;

    color: #000000;
  }

  .header-control-link:hover {
    opacity: 60%;
  }

  .header-control-link:active {
    opacity: 30%;
  }

  .header-control-link-exit {
    opacity: 30%;
  }

  .header-basket {
    position: relative;
  }

  .header-basket .header-control-link::before {
    content: "";
    position: absolute;
    right: 85px;
    top: 0;
    bottom: 0;

    margin: auto;

    background-image: url('../images/header-icon/basket-icon.svg');
    width: 16px;
    height: 14px;

    z-index: 1;
  }

  .basket-number-product {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20px;
    height: 20px;
    margin-right: 20px;

    font-size: 14px;
    line-height: 17px;

    background-color: #ffffff;

    border-radius: 50%;
    z-index: 2;
  }

  /* header-navigation */

  .header-navigation {
    width: 100%;
  }

  .navigation-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 0;
    margin: 0;

    list-style: none;
  }

  /* *:focus {
    outline: 1px solid #af4fff;
  } */

  .navigation-link {
    display: flex;
    align-items: center;
    gap: 20px;


    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;

    color: #000000;

    z-index: 11;
  }

  .navigation-link:hover {
    opacity: 60%;
  }

  .navigation-link:active {
    opacity: 30%;
  }


  .navigation-link-icon {
    position: relative;
    display: inline-block;

    width: 50px;
    height: 50px;

    border: 2px solid #000000;
    border-radius: 50%;

    opacity: 30%;
  }

  .icon-plus::after {
    content: "";

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    width: 16px;
    height: 16px;

    background-image: url("../images/navigation-link-cross.svg");
  }

  .navigation-link-icon:hover {
    opacity: none;
  }

  /* main */

  .main-title {
    padding-top: 35px;
    margin: 0;
    margin-bottom: 16px;

    font-family: "Raleway";
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
  }

  .main-container {
    flex-grow: 1;
  }

  /* main-slider */

  .main-slider {
    position: relative;
    margin-bottom: 70px;

    background: linear-gradient(#ffe17f 134px, #ffffff 134px)
  }


  .slider-collection-list {
    position: relative;
    top: -16px;
    padding: 0;
    margin: 0;

    list-style: none;
  }

  .slider-collection-item {
    display: flex;
    position: relative;

    z-index: 1;
  }

  .slider-image {
    width: 560px;
    height: 560px;
    margin-right: 40px;
  }

  .slider-description {
    padding-top: 122px;
  }

  .slider-description h2 {
    margin-bottom: 29px;
  }

  .slider-description p {
    margin: 0;
    margin-bottom: 60px;
  }

  .slider-description .slider-link {
    display: inline-block;
    margin-bottom: 60px;
  }

  .slider-product-number {
    position: absolute;
    right: 52px;
    top: 86px;

    font-weight: 700;
    font-size: 180px;
    line-height: 30px;

    color: #ffffff;

    z-index: -1;
  }

  .product-characteristic {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 20px;
  }

  .product-characteristic dl {
    margin: 0;
    margin-right: 20px;

  }

  .product-characteristic dd {
    margin: 0;
  }

  .product-characteristic b {
    font-size: 36px;
    font-weight: 400;
  }

  .product-specification {
    margin: 0;
    margin-bottom: 12px;

    font-size: 16px;
  }

  .slider-btn-back,
  .slider-btn-next {
    position: absolute;
    top: 195px;

    background-color: transparent;

    border: none;
    cursor: pointer;
    z-index: 10;
  }

  button.slider-btn-back {
    left: 30px;
  }

  .slider-btn-next {
    left: 540px;
  }

  /* dots */

  .slider-dots {
    display: flex;
    justify-content: center;
  }

  .dots {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #000000;
    margin-right: 14px;

    background-color: #ffffff;

    cursor: pointer;
  }

  .dots:hover {
    background-color: #000000;
  }

  .dots:nth-last-child(1) {
    margin-right: 0;
  }

  /* breadcrummbs */

  .breadcrumbs {
    font-size: 16px;
    line-height: 20px;

    padding: 0 60px;
  }

  .breadcrumbs-list {
    display: flex;
    gap: 36px;

    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    list-style: none;
  }

  .breadcrumbs-item {
    position: relative;
  }

  .breadcrumbs-item:not(.breadcrumbs-item:nth-last-child(1))::after {
    content: "";

    position: absolute;
    top: 0;
    bottom: 0;

    width: 4px;
    height: 7px;
    margin: auto;
    margin-left: 18px;

    background-image: url("../images/arrow/breadcrumbs-arrow-right.svg");
    background-repeat: no-repeat;
    opacity: 20%;
  }

  .breadcrumbs-link {
    text-decoration: none;

    color: #000000;
  }

  .breadcrumbs-link:hover {
    opacity: 60%;
  }

  .breadcrumbs-link:active {
    opacity: 30%;
  }

  .breadcrumbs-item-last .breadcrumbs-link:hover {
    color: inherit;
  }

  /* catalog */

  .catalog {
    background-color: #f0f0f0;
  }

  .catalog-container {
    display: flex;

    padding-left: 60px;
  }

  /* catalog-filter */

  .catalog-filter {
    width: 200px;
    margin-right: 60px;
  }

  .catalog-filter-heading {
    padding: 25px 0 60px 0;
    margin-bottom: 12px;

    font-family: "Raleway";
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;
    letter-spacing: 0.2em;

    text-transform: uppercase;

    border-bottom: 3px solid #000000;
  }

  .product-filter legend {
    margin-bottom: 20px;
  }

  .filter-block {
    margin: 0;
    padding: 0;
    margin-bottom: 12px;

    border: none;
    border-bottom: 3px solid #000000;
  }

  .filter-block label {
    display: block;
  }

  .product-filter-price label {
    margin-bottom: 35px;
  }

  .product-filter-checkbox label {
    display: flex;
    margin-bottom: 17px;
  }

  .product-filter-checkbox label:nth-last-child(1) {
    margin-bottom: 35px;
  }

  .product-filter-bluetooth {
    margin-bottom: 45px;

    border-bottom: none;
  }

  .product-filter-bluetooth label:not(.product-filter-bluetooth label:nth-last-child(1)) {
    margin-bottom: 20px;
  }

  .filter-submit-button {
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-decoration: none;
    text-transform: uppercase;

    border: none;
    cursor: pointer;

    color: #000000;
    background-color: transparent;
  }

  .product-filter-title {
    line-height: 20px;
    font-weight: 700;
    letter-spacing: -0.02em;
  }

  .sorting-heading {
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }

  .catalog-product-sorting {
    font-size: 18px;

    background-color: transparent;

    border: none;
    cursor: pointer;
  }

  .filter-label {
    font-size: 16px;
    line-height: 20px;
  }


  /* section catalog-category */

  .catalog-category {
    margin-bottom: 70px;
  }

  .catalog-category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;

    margin: 0;
    padding: 0;

    list-style: none;
  }

  .catalog-category-images-monopod {
    align-self: flex-end;
  }

  .catalog-category-images {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 160px;
    height: 160px;
    margin-bottom: 33px;

    background-color: #ffe17f;
  }

  .catalog-category-link {
    display: flex;
    flex-direction: column;

    width: 160px;

    font-family: "Raleway";
    font-weight: 800;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-decoration: none;

    color: #000000;
  }

  .catalog-product-top-arrow {
    display: flex;
  }

  .catalog-product-top-arrow button {
    margin: 0;
    padding: 10px;

    border: none;
    cursor: pointer;
  }

  .catalog-product-top-arrow svg {
    width: 11px;
    height: 10px;

    opacity: 20%;
  }

  /* catalog-product-cards */

  .catalog-product {
    max-width: 840px;
    width: 100%;
  }

  .catalog-product-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 25px 40px;
  }

  .catalog-product-cards {
    max-width: 760px;
    padding: 70px 40px;

    background-color: #ffffff;
  }

  .catalog-product-cards-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    justify-items: center;
    gap: 40px;

    margin: 0;
    margin-bottom: 40px;
    padding: 0;

    font-weight: 700;
    line-height: 20px;

    list-style: none;
  }


  .catalog-product-cards-link {
    display: inline-block;
    text-decoration: none;

    color: #000000;
  }

  .catalog-product-price {
    font-weight: 400;
    line-height: 21px;
  }

  .catalog-product-name {
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;
  }

  .catalog-product-image {
    width: 360px;
    height: 380px;
    margin-bottom: 30px;
  }

  /* pagination */

  .pagination-widget {
    margin-bottom: 40px;
  }

  .pagination-widget-button {
    box-sizing: border-box;

    width: 100%;
    padding: 18px 0;

    font-family: "Raleway";
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    background-color: transparent;

    border: 3px solid #e5e5e5;
    cursor: pointer;
  }

  .pagination-widget-button:hover {
    border-color: #000000;
  }

  .pagination-widget-button:active {
    border-color: #000000;
    opacity: 30%;
  }

  .pagination-widget-button:disabled {
    border-color: #e5e5e5;
    opacity: 30%;
  }

  .pagination-controls {
    padding: 25px;

    background-color: #ebebeb;
  }

  .pagination-controls-list {
    display: flex;
    justify-content: center;
    /* gap: 30px; */

    margin: 0;
    padding: 0;

    list-style: none;
  }

  .pagination-controls-item:nth-child(1) {
    margin-right: auto;
  }

  .pagination-controls-item:nth-last-child(1) {
    margin-left: auto;
  }

  .pagination-controls-link {
    padding: 10px 15px;
    text-decoration: none;

    font-size: 16px;

    color: #bababa;
  }

  .pagination-controls-ellipsis {
    padding: 0 13px;

  }

  .pagination-controls-back,
  .pagination-controls-next {
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;

    color: #444444;
  }

  .pagination-controls-back {
    width: 78px;
  }

  .pagination-link-active:hover {
    color: #444444;
  }

  /* section service  */

  .service {
    margin-bottom: 70px;

    background: linear-gradient(#ffffff 100px, #f0f0f0 100px);
  }

  .service-container {
    display: flex;
  }

  .service {
    min-height: 391px;
    margin-bottom: 70px;
    background: linear-gradient(#ffffff 102px, #f0f0f0 102px);
  }

  .container {
    max-width: 1160px;
    width: 100%;
  }

  .service-description {
    flex-grow: 1;

    max-width: 694px;

    padding-top: 72px;
  }


  .service-description {
    position: relative;
    padding-top: 64px;
  }

  .service-description input {
    display: none;

  }

  .service-label {

    display: block;

    max-width: 280px;
    padding: 9px 0;
    margin-bottom: 35px;

    font-family: sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #000000;

    cursor: pointer;

    position: relative;
    z-index: 0;
  }

  .service-label span {
    display: inline-block;
    width: 160px;
    padding: 0;

    text-align: center;
  }

  .service-label span::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    width: 160px;
    height: 8px;

    background-color: #ffe17f;

    z-index: -1;
  }

  .service-label:hover {
    position: relative;
    z-index: 0;
    background-color: #000000;
    color: #ffe17f;
  }


  .service-box {
    display: none;
  }

  .delivery:checked ~ .service-description-delivery,
  .warrenty:checked ~ .service-description-warrenty,
  .credit:checked ~ .service-description-credit {
    display: block;
  }

  .service-box {
    position: absolute;
    top: 0;
    left: 280px;
    max-width: 880px;
    width: 100%;
    min-height: 319px;

    padding-left: 116px;
    border-left: 7px solid #000000;
  }

  .service-description-wrap {
    max-width: 880px;
    padding-top: 72px;
    display: flex;
  }

  .service-description-text {
    max-width: 480px;
    margin-right: 78px;

    font-size: 18px;
    font-family: sans-serif;
    line-height: 30px;
  }

  .service-description-text p {
    margin: 0;
    padding-bottom: 72px;
  }

  .service-description-heading {
    margin: 0 0 34px 0;

    font-size: 50px;
    line-height: 50px;
  }

  /* express-delivery */

  .express-delivery {
    margin-bottom: 70px;
  }

  .express-delivery-link {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: "Raleway";
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 0.2em;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;

    color: #000000;
    background-color: #f0f0f0;
  }

  .express-delivery-icon {
    display: block;

    width: 125px;
    height: 100px;

    background-color: #ffe17f;
    background-image: url("../images/express-delivery-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .express-delivery-text {
    flex-grow: 1;
    text-align: center;
  }

  .express-delivery-i {
    display: block;

    width: 125px;
    height: 100px;

    background-image: url("../images/express-delivery-i.svg");
    background-position: center;
    background-repeat: no-repeat;

  }

  /* section company */

  .company {
    display: flex;

    margin-bottom: 70px;
  }

  .company h2 {
    margin-top: 0;
  }

  .company-list {

    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;

    padding: 0;
    margin-bottom: 40px;

    list-style: none;
  }

  .company-item::marker {
    color: #ffc700;
  }

  .company-item {
    position: relative;
    padding-left: 26px;
  }

  .company-item:not(.company-item:nth-last-child(1)) {
    margin-bottom: 19px;
  }

  .company-item::before {
    content: "";

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    background-color: #ffc700;

    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  .company-about {
    width: 532px;
  }

  .company-contact {
    width: 532px;

    margin-left: auto;
  }

  .company-contact-subheading {
    font-weight: 700;
    font-size: 24px;

    color: #444444;
  }

  .company-line {
    display: inline-block;

    margin-bottom: 40px;

    background-color: #000000;
  }

  /* subscription */

  .subscription {
    padding-top: 70px;
    padding-bottom: 60px;

    background-color: #f0f0f0;
  }

  .subscription p {
    width: 560px;
    padding-top: 10px;
    margin: 0;
    margin-left: auto;
  }

  .subscription h2 {
    width: 350px;
    margin-bottom: 0;
  }

  .subscription-top {
    display: flex;

    margin-bottom: 144px;
  }

  .subscription-bottom {
    display: flex;
    justify-content: space-between;
  }

  .subscription-bottom form {
    display: flex;

    width: 810px;
  }

  .subscription-email-field {
    box-sizing: border-box;

    flex-grow: 1;

    padding-left: 16px;

    font-size: 18px;
    line-height: 21px;

    background-color: transparent;

    border: none;
    border-bottom: 3px solid #c4c4c4;

  }

  .subscription-button {
    box-sizing: border-box;

    padding: 18px 39px;

    font-family: "Raleway";
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    border: 3px solid #c4c4c4;
    cursor: pointer;
  }

  .subscription-button:hover {
    color: #ffffff;
    background-color: #000000;
  }

  .subscription-button:active {
    background-color: #000000;
    color: rgba(255, 255, 255, 0.3);
  }

  .subscription-free-text {
    align-self: center;
    white-space: nowrap;
  }

  .subscription-free-text svg {
    width: 15px;
    height: 14px;
    margin-right: 17px;
  }

  /* footer */

  .footer {
    padding: 60px 0;

    background-color: #444444;
    color: #ffffff;
  }

  .footer-logo-img {
    width: 145px;
    height: 36px;
  }

  .footer-logo-img:hover {
    fill-opacity: 0.6;
  }

  .footer-logo-img:focus {
    stroke: #ff6c00;
  }



  .footer-logo-img:active {
    fill-opacity: 0.3;
  }

  .footer-logo-htmlacademy {
    width: 115px;
    height: 33px;
  }

  .footer-body {
    display: flex;

    padding-top: 35px;
  }

  /* footer-left */

  .footer-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;

    margin-right: auto;

    font-size: 16px;
  }

  .footer-left p {
    margin: 0;
  }

  .footer-line {
    margin-bottom: 16px;
    background-color: #ffc700;
  }

  .line {
    width: 80px;
    height: 7px;
  }

  /* footer-center */

  .footer-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer-social-list,
  .footer-info-list {
    list-style: none;
  }

  .footer-social-list {
    display: flex;
    justify-content: center;
    gap: 15px;

    padding: 0;
    margin: 0;
  }

  .footer-info-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;

    padding: 0 30px 40px;
    margin: 0;

    font-family: "Raleway";
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }

  .footer-social-item {
    position: relative;
  }

  .footer-icons-telegram::before,
  .footer-icons-youtube::before,
  .footer-icons-twitter::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    width: 13px;
    height: 11px;

    background-repeat: no-repeat;
    background-position: center;
  }

  .footer-icons-telegram::before {
    background-image: url("../images/social-icon/social-icon-1.svg");
  }

  .footer-icons-youtube::before {
    background-image: url("../images/social-icon/social-icon-2.svg");
    width: 16px;
    height: 11px;
  }

  .footer-icons-twitter::before {
    background-image: url("../images/social-icon/social-icon-3.svg");
    width: 15px;
    height: 14px;
  }

  /* footer-right */

  .footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 60px;

    width: 234px;
    margin-left: auto;

    font-size: 16px;
    line-height: 20px;
  }

  .footer-info-link,
  .footer-phone-link {
    color: #ffffff;
  }

  .footer-phone-link {
    margin: auto;
    margin-top: 0;
    margin-right: 0;
  }

  .footer-info-link {
    text-decoration: none;
  }

  .footer-social-icons-link {
    display: inline-block;
    position: relative;
    vertical-align: middle;

    width: 40px;
    height: 40px;
    border-radius: 50%;

    background-color: rgba(255, 255, 255, 0.3);
  }

  .footer-adress {
    width: 234px;

    line-height: 20px;
  }


  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
